API_BASE_URL = https:/$()/aiscend-backend-764650279068.europe-west1.run.app
RAG_BASE_URL = https:/$()/aiscend-rag-764650279068.europe-west1.run.app

AISCEND_API_BASE_URL = $(API_BASE_URL)
AISCEND_CHATBOT_API_URL = $(RAG_BASE_URL)
AISCEND_RAG_BASE_URL = $(RAG_BASE_URL)
AISCEND_SCAN_ANALYZE_PATH = api/face_scan
